{% extends "layouts/admin.twig" %}

{% block content %}

<h2>Корзина заказа №{{ orderId }}</h2>

<a href="/admin/panel">Назад к заказам</a>

{% if cart is not empty %}

<table>
    <tr>
        <th>Список товаров</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Итого</th>
    </tr>
    {% for product in cart %} 
    <tr data-prod-id="{{ product.goodsId }}">
        <td>
            <img src="/assets/images/products/small/{{ product.img }}" alt="{{ productname }}" width="100">
            <span>{{ product.name }}</span>
        </td>
        <td data-price="{{ product.goodsId }}">
            {{ product.price }}
        </td>
        <td data-quantity="{{ product.goodsId }}">
            {{ product.quantity }}
        </td>
        <td data-total-for-prod="{{ product.goodsId }}">
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3">
            Итого к оплате:  
        </td>
        <td data-total-for-cart="true">
        </td>
    </tr>
</table>

{% endif %}

<script src="/assets/scripts/price.js"></script>

{% endblock %}
