{% extends "layouts/main.twig" %}

{% block pageTitle %}Мои заказы{% endblock %}

{% block content %}

<h2>Мои заказы</h2>

{% if orderMsg != null %}
{{ orderMsg }}
{% endif %}

{% if orders != null %}

<table>
    <tr>
        <th>Номер заказа</th>
        <th>Номер телефона</th>
        <th>Статус</th>
    </tr>

{% for order in orders %}

    <tr>
        <td><a href="/order/{{ order.id }}/show">{{ order.id }}</a></td>
        <td>{{ order.phone }}</td>
        <td>{{ order.status }}</td>
    </tr>

{% endfor %}

</table>

{% else %}

<p>У Вас нет заказов.</p>

{% endif %}

{% endblock %}
